.separator{
    height: 14px;
    width: 14px;
    border: 1px solid #417487;
    position: relative;
}
.separator::after{
    position: absolute;
    left: 50%;
    top: calc(50% - 1px);
    display: block;
    content: "";
    height: 1px;
    width: 100px;
    background: #417487;
}
.theme{
    font-weight: 500;
    width: 450px;
    position: absolute;
    display: block;
    left: 150px;
    font-size: 50px;
    top: -25px;
    opacity: 0.02;
}
