.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}
.separator{
    align-self: flex-start;
    margin: 70px 0 0 0;
}

