.container{
    /*background-color: rgba(0,0,0,0.6);*/
    display: flex;
    justify-content: center;

}

.separator{
    align-self: flex-start;
    /*margin: 15px 0 0 0;*/
}
.myName{
    margin: 20px 0 0 0;
    align-self: flex-start;
}
.text{
    margin: 50px 0;
    line-height: 1.5;
    /*letter-spacing: 0.05em;*/
}
.businessCardWrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.button{
    margin: 20px;
}
.download{
    text-decoration: none;
}

