.navWrapper{
    width: 30vw;
    height: 100vh;
    position: fixed;
    right: 0;
    background: black;
    transform: translateX(100%);
    transition: 0.5s ease-out;
    top: 0;

}
.navWrapper2{
    height: 100vh;
    width: 30vw;
    position: fixed;
    right: 0;
    background: black;
    transform: translateX(0);
    transition: 0.5s ease-out;
    z-index: 50;
    top: 0;
}
.container{
    display: flex;
   flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 30px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn div{
    font-size: 40px;
}
.linksBox{
    box-sizing: border-box;
    padding: 40px;
}
.socialLinksBlock{
    background-color: transparent;
    width: 200px;
    height: 50px;
    /*border: 1px solid;*/
    /*position: absolute;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialLinksBlock a img{
    height: 20px;
    width: 20px;
}
.rights{
    font-size: 12px;
}
@media screen and (max-width: 800px){
    .navWrapper{
        width: 90vw;
    }
    .navWrapper2{
        width: 90vw;
    }
}